body {
    font-size: 16px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    //min-width: 1200px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

input,
textarea,
button {
    outline: none;
    border: none;
}

button {
    border: 0;
    cursor: pointer;
}

img {
    margin: auto;
    display: inline-block;
    vertical-align: middle;

}

.clearfix {
    &:after {
        content: " ";
        display: block;
        clear: both;
    }

}

.header {
    background-color: #87509c;
    width: 100%;
    min-width: 1100px;
    position: fixed;
    z-index: 3;
    top: 0;

    &__container {
        width: 1100px;
        margin: 0 auto;
        padding-top: 57px;
        padding-bottom: 20px;
        .clearfix;
        transition: all .4s;

        &_slim {
            padding-top: 20px;
        }
    }

    &__left {
        float: left;
        padding: 0 42px;
    }

    &__right {
        float: right;
    }
}

.menu {
    list-style: none;
    padding: 0;
    font-weight: 100;
    margin: 8px 3px 0 0;

    &__list-item {
        display: inline-block;
        margin: 0 2px;
        text-transform: uppercase;
        cursor: pointer;

    }

    &__link {
        color: #fff;
        padding: 5px 17px;
        transition: all .3s;

        &.active {
            background-color: #643a79;
            border-radius: 3px;
        }

        &:hover {
            background-color: #643a79;
            border-radius: 3px;
        }
    }
}

.scroll-item {} //Only for items (need href-attr) which scroll page to some slide/element (need id-attr)

.slide {
    min-width: 1100px;

    &_color {
        &_violet {
            background-color: #87509c;
            height: 100vh;
        }

        &_green {
            background-color: #17c2a4;
        }

        &_grey {
            background-color: #e7f1f8;
            color: #3c4761;
        }

        &_white {
            background-color: #ffffff;
            color: #3c4761;
        }

        &_orange {
            background-color: #ffdd99;
            color: #393939;
        }

        &_pink {
            background-color: #d74680;
            color: #FFFFFF;
        }

        &_blue {
            background-color: #3c5499;
            color: #FFFFFF;
        }
    }

    &__container {
        width: 1100px;
        margin: 0 auto;

        &_first-screen {
            padding-top: 56vh;
        }
    }
}

.content {
    text-align: center;
    padding: 105px 0 0;

    &_first-screen {
        transform: translateY(-50%);
        padding: 0;
    }

    &__header {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 500;
        margin: 0;
    }

    &__header-line {
        content: '';
        display: block;
        width: 90px;
        height: 4px;
        background-color: rgba(0, 0, 0, 0.11);
        margin: 10px auto 18px;

        &_color {
            &_green {
                background-color: #14a58c;
            }
            &_grey {
                background-color: #c8d9e5;
            }
            &_white {
                background-color: #dfe8ed;
            }
            &_orange {
                background-color: #e5c37f;
            }
            &_pink {
                background-color: #b73c6d;
            }
            &_blue {
                background-color: #273a71;
            }
        }
    }

    &__text {
        width: 50%;
        margin: 0 auto;
        font-size: 18px;
        margin-bottom: 60px;

        &_wide {
            width: 90%;
        }

        &_first-screen {
            margin: 0 8% 55px;
            font-weight: 500;
            font-size: 42px;
        }

    }

    &__block {
        box-sizing: border-box;
    }

    &__button {
        padding: 25px 0;
        border-radius: 3px;
        text-transform: uppercase;
        transition: all .2s;
        width: 290px;
        color: #FFFFFF;
        font-size: 16px;
        margin-bottom: 110px;

        &_first-screen {
            margin-bottom: 0;
        }

        &_color {
            &_orange {
                background-color: #eb7d4b;

                &:hover {
                    background-color: #ff8a4f;
                }
            }
            &_green {
                background-color: #17c2a4;

                &:hover {
                    background-color: #14a58c;
                }
            }
            &_blue {
                background-color: #30bae7;

                &:hover {
                    background-color: #299ec5;
                }
            }
        }
    }
}

.column {
    font-size: 0;
    box-sizing: border-box;
    text-align: center;

    &__item {
        display: inline-block;
        width: 25%;
        padding: 0 10px;
        box-sizing: border-box;
        vertical-align: top;
        text-align: center;
        margin-bottom: 120px;
    }
    //&:first-child {
    //    padding: 0 10px 0 0;
    //}
    //&:last-child {
    //    padding: 0 0 0 10px;
    //}
}

.item {

    &__header {
        font-size: 22px;
        text-transform: uppercase;
        box-sizing: border-box;
        margin: 0;
    }

    &__text {
        font-size: 16px;
        margin-top: 20px;

        &_color {

            &_blue {
                color: #3cbee8;
            }

            &_orange {
                color: #ffdd99;
                font-size: 18px;
                font-weight: 200;
            }
        }

        &_margin-top {
            &_sm {
                margin-top: 6px;
            }
        }
    }

    &__img {
        height: 135px;
        margin: 0 auto 40px auto;
        background: no-repeat center;

    }

    &__photo {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 40px;
        background-color: #878787;

        &_reviews {
            height: 100px;
            width: 100px;
            float: left;
            margin: 0;
        }
    }

    &__icons {
        margin-top: 25px;
    }

    &__diargamma {
        margin: 0 auto 40px auto;
        width: 160px;
        height: 160px;
        position: relative;

    }
}

.diagramma {
    &__circle {
        width: 80px;
        height: 160px;
        position: absolute;

        &-1 {
            border-radius: 0 160px 160px 0;
            left: 50%;
            z-index: 2;
        }
        &-2 {
            border-radius: 160px 0 0 160px;
            z-index: 4;
        }

        &_color {
            &_red {
                background: red;

            }
        }
    }
    &__number {
        width: 133px;
        height: 133px;
        line-height: 133px;
        border-radius: 50%;
        color: #3c4761;
        position: absolute;
        top: 13px;
        left: 13px;
        font-size: 46px;
        background-color: #ffffff;
        text-align: center;
    }
    &__persent {
        color: #3c4761;
        top: -5px;
        left: 91px;
        font-size: 23px;
        text-align: center;
        position: absolute;
    }

}

.social-buttons {

    &__item {
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 5px;
        transition: all .3s;

        &:hover {
            cursor: pointer;
            background-color: #8695a0;
        }

        &_facebook {
            background: url("../img/social-icons.png") 11px 7px no-repeat #C8D9E5;
        }

        &_twitter {
            background: url("../img/social-icons.png") -33px 7px no-repeat #C8D9E5;
        }

        &_linked {
            background: url("../img/social-icons.png") -76px 7px no-repeat #C8D9E5;
        }

        &_mail {
            background: url("../img/social-icons.png") -120px 6px no-repeat #C8D9E5;
        }
    }
}

.loader {
    &__bar {
        stroke-dashoffset: 0;
        stroke-width: 20px;

        &_color {
            &_blue {
                stroke: #3498db;
            }
            &_pink {
                stroke: #D6477F;
            }
            &_green {
                stroke: #15C7A7;
            }
            &_orange {
                stroke: #E97E48;
            }
        }
    }
    &__circle {
        stroke-dashoffset: 0;
        stroke: #DFE8ED;
        stroke-width: 20px;
    }
}

.portfolio {
    width: 102%;

    &__item {
        width: 48%;
        display: inline-block;
        vertical-align: top;
        margin: 0 1% 60px 1%;
        display: none;
    }
    &__img-cover {
        background: url("../img/portfolio-mockup.png") no-repeat;
        background-size: cover;
        height: 310px;
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 25px;
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
        margin: 18px 67px 38px 64px;
        box-sizing: border-box;
        background-color: #0c0d11;
    }

    &__text {
        font-size: 18px;
        color: #393939;
        text-transform: uppercase;
        text-align: center;
    }
}

.tab {
    margin-bottom: 63px;

    &__item {
        text-transform: uppercase;
        cursor: pointer;
        background-color: #e5c37f;
        width: 70px;
        font-size: 18px;
        border-radius: 4px;
        line-height: 38px;
        margin-right: 7px;
        padding: 0 8px;
        transition: all .4s;
        display: inline-block;

        &:hover {
            background-color: #FFFFFF;
        }
        &.active {
            background-color: #FFFFFF;
        }
    }
}

.reviews {
    box-sizing: border-box;
    font-size: 0;
    .clearfix;
    padding-top: 5px;
    text-align: left;

    &__item {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        margin: 0 0 140px;
        text-align: left;

        &:nth-child(2n+1) {
            margin-right: 77px;
        }
    }

    &__text-container {
        display: inline-block;
        width: 365px;
        font-size: 20px;
        vertical-align: top;
        text-align: left;
        padding-top: 7px;
    }
    &__text {
        font-style: italic;
        line-height: 31px;
        padding-bottom: 20px;
    }

    &__photo {
        border-radius: 50%;
        overflow: hidden;
        background-color: #878787;
        background-size: cover;
        height: 97px;
        width: 97px;
        margin: 0 48px 0 0;
        display: inline-block;
    }
}

.form {
    width: 78%;
    display: inline-block;
    padding: 15px 0 0;

    &__input {
        font-size: 18px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        padding: 16px 25px;
        margin-bottom: 30px;
        color: #FFFFFF;
        background-color: transparent;
        box-shadow: inset 0 0 20px 50px #273A71;
        border-radius: 5px;
        width: 48%;
        box-sizing: border-box;
        transition: all .3s;

        &:focus {
            box-shadow: inset 0 0 0 2px #273A71;
        }

        &:nth-child(2n+1) {
            margin-right: 3%;
        }
    }
    &__textarea {
        font-size: 18px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        padding: 16px 25px;
        color: #FFFFFF;
        background-color: transparent;
        box-shadow: inset 0 0 50px 140px #273A71;
        border-radius: 5px;
        width: 100%;
        resize: none;
        box-sizing: border-box;
        transition: all .3s;

        &:focus {
            box-shadow: inset 0 0 0 2px #273A71;
        }
    }
    &__sucsess-message {
        display: none;
        margin: 17px auto;
    }
    &__sucsess-container {
        height: 55px;
    }
}

:-moz-placeholder {
    color: #FFFFFF;
}

:-ms-input-placeholder {
    color: #FFFFFF;
}

::-moz-placeholder {
    color: #FFFFFF;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

.footer {
    background-color: #344b8e;
    min-width: 1100px;

    &__content {
        width: 1100px;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0 35px;
    }
    &__item {
        display: inline-block;
        padding: 10px 25px;
        font-size: 24px;
        transition: all .4s;
        color: #FFFFFF;

        &:hover {
            color: #30bae7;
        }
    }
}

.top {
    opacity: 0;
    transform: translateY(-100px);
    transition: all .7s;
}

.bottom {
    opacity: 0;
    transform: translateY(100px);
    transition: all .7s;
}

.left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all .7s;
}

.right {
    opacity: 0;
    transform: translateX(100px);
    transition: all .7s;
}

.show {
    & .top {
        opacity: 1;
        transform: translateY(0);
    }
    & .bottom {
        opacity: 1;
        transform: translateY(0);
    }
    & .left {
        opacity: 1;
        transform: translateX(0);
    }
    & .right {
        opacity: 1;
        transform: translateX(0);
    }
}



